* {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.nicknamePane {
    -fx-background-image: url("../images/Display_1.jpg");

}

.waitingPane {
    -fx-background-image: url("../images/Display_2.png");
}

.playingPane {
    -fx-background-image: url("../images/Display_3.jpg");
}

#livingroom {
    -fx-background-image: url("../images/livingroom.png");
}
#bookshelf {
    -fx-background-image: url("../images/bookshelf.png");
}
.generic {
    -fx-background-image: url("../images/generic.png");
}
Button {
    -fx-background-radius: 5px;
    -fx-background-size: 100% 100%;
    -fx-border: none;
    -fx-border-radius: 5px;
    -fx-background-color: #f6d38a;
    -fx-text-fill: black;
}
.numPlayersButton {
    -fx-background-color: #E3D7C9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 30, 0, 0, 0);
    -fx-font-size: 27px;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: none;
}

.orderingBox {
    -fx-background-image: url("../images/backgroundSpecial1.jpg");
}

.endPane {
    -fx-background-image: url("../images/podium.jpg");
}
